.hours {
  grid-column: 1 / 2;
  grid-row: 1 / span 3;
  align-self: center;
  justify-self: center;
}

.minutes {
  grid-column: span 3;
  grid-row: 1 / span 3;
  align-self: center;
  justify-self: center;
}

.unit {
  margin-top: 15px;
  margin-bottom: 15px;
}

.buttonUp {
  background-color: white;
  border: none;
  /*margin-bottom: 15px;*/
}

.buttonDown {
  background-color: white;
  border: none;
  /*margin-top: 15px;*/
}

.buttonUp:hover {
  background-color: #f2f2f2;
  border-radius: 3px;
}

.buttonDown:hover {
  background-color: #f2f2f2;
  border-radius: 3px;
}

.buttonUp:focus {
  outline: none;
}

.buttonDown:focus {
  outline: none;
}

.buttonUp:active {
  background-color: #cccccc;
}

.buttonDown:active {
  background-color: #cccccc;
}
