.main {
  text-align: center;
  width: 300px;
  height: 300px;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.50);
  border-radius: .25rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 40px;
  grid-auto-flow: row dense;
}
.separator {
  grid-column: 2 / 3;
  grid-row: 1 / span 1 ;
  justify-self: center;
  align-self: center;
  font-size: 33px;
}

.switch {
  grid-column: 1 / span 3 ;
  grid-row: 2 / span 2;
}
